# Prerequisites
*.d
**.vscode
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
epidemic
main

# Data Files
**.csv
**/.csv*
*.json
*.txt

# Build and Data directories
**/build
**/data
data
**/.DS_Store
src/.DS_Store
